<strong>Olá, {{ student }}</strong>
<p>A sua dúvida nº: {{ orderNumber }} foi respondida.</p>
<p>
  <strong>Data:</strong>
  {{ answer_at }}
</p>
<p>
  <strong>Pergunta:</strong>
   {{ question }}
</p>
<p>
  <strong>Reposta</strong>
   {{ answer }}
</p>
<small>Ainda ficou com dúvida? Nos envie um email: <a href="mailto:duvida@gympoint.com"></a> duvida@gympoint.com</small>
