<strong>Olá, {{ student }}</strong>
<p>Bem-vindo ao Gympoint, confira os detalhes do seu plano:</p>
<p>
  <strong>Seu plano:</strong> {{ plan_title }} <br />
  <strong>Duração do plano:</strong> {{ plan_duration }} meses <br />
  <strong>Data de início:</strong> {{ start_date }} <br />
  <strong>Data de término:</strong> {{ end_date }} <br />
</p>
